.footer-container {
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 12px;
    display: block;
}

.footer-left {
    flex: 1;
    padding: 1rem 1rem 1rem 0;
}

.footer-right {
    flex: 1;
    padding: 1rem 0 1rem 1rem;
}